*{
  box-sizing: border-box;
  margin:0 auto;
  font-variant: normal;
  font-style: normal;
}
p, a, li, ol,h2,h3,h4,h5{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-family: 'Shrikhand', cursive;
}
.aside_title h2{
  font-family: 'Shrikhand', cursive;
  margin: 0;
  font-size: 1.4em;
  text-transform: none;
}
.container{
  margin:0 auto;
  z-index: 0;
}
header .heart{
  position: relative;
  top: 10px;
  background-color: #f7f7f7;
}
.heart{
  width:20%;
}
header{
  text-align: center;
}
.aside_title{
  width:90%;
}
#logo{
  width:50%;
  margin: 20px 25px 8px 0px;
}
#localisation{
  background-color: #f0f0f0;
  padding: 10px 0px;
  box-shadow: inset #ccc 0px 3px 3px 0px;

}
#localisation .localisation{
  border: 0px;
  text-align: center;
  font-weight: 600;
  font-size: 0.8em;
  font-style: normal;
  width: 130px;
  background-color: #f0f0f0;
}
.section-header h2{
  width: 75%;
  font-size: 1.3em;
  font-weight: 900;
  font-family: 'Roboto';
  text-align: center;
  margin-top:10px;
  text-transform: none;
}
.section-header h3{
  color: #6b6b6b;
  text-align: center;
  font-size: 1em;
  font-style: normal;
  font-family: sans-serif;
  font-weight: 500;
  margin-top: 10px;
  width: 90%;
}
.button{
width: 55%;
  text-align: center;
  font-style: revert;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  background-color: #4158D0;
  background-image: linear-gradient(1deg, #9356DC 5%, #FF79DA );
  padding: 10px 0px;
  border-radius: 1.5em;
  margin-top:20px;
  margin-bottom: 20px;
}
.button:hover
{
  box-shadow: #ccc 0px 5px 3px;
  background-image: linear-gradient(176deg, #eebce0f0 20%, #e573c5f0 );
}
.search a {
text-decoration: none;
}
.section-header{
  background: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 40px;
}
main aside{
margin: 20px 0px;
width: 100%;
}
h4{
font-family:'Roboto';
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.3em;;
}
aside li{
  background-color: #f7f7f7;
  width: 90%;
  padding: 20px;
  border-radius: 1.1em;
  text-align: center;
  font-family: sans-serif;
  margin: 20px;
  box-shadow:#ccc 1px 3px 15px;
  padding-left:0px;
}
aside li:hover{
background-color: #9856dc1f;
}
#container-etape li i{
  color: #888282;
  float: left;
}
#container-etape li:hover i{
  color:#9356DC
}
#container-etape li a{
  text-decoration: none;
  color: black;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}
#container-etape ol{
  list-style: none;
   counter-reset: li;
   list-style-position: outside;
   padding-left: 0px;
   margin-bottom: 4em;
}
#container-etape li::before {
  content: counter(li); 
  counter-increment: li;
  color: white;
  display: inline-block; width: 1em;
  margin-left: -1em;
  background-color: #9356DC;
  border-radius: 2em;
  float: left;
  margin:auto;
  padding:3px;
  margin-right:30px;
}
#section-main{
  background: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 80px;
}
.search p{
  font-size: 0.8em;
  font-weight: 500;
  padding: 13px 0px;
}
#section-main article{
  width: 90%;
  align-content: center;
  justify-content: center;
  background: #fff;
  border-radius: 1em;
  margin-bottom: 20px;
  box-shadow: #f2f2f2 0px 2px 5px;
  height:225px;
}
#section-main article .resto{
  border-radius: 1em 1em 0em 0em;
  object-fit:cover;
  height: 150px;
  width:100%;
}
.new{
  color: #548378;
  width: 25%;
  text-align: center;
  background: #99E2D0;
  font-family: 'Roboto Mono';
  font-size: 0.8em;
  font-weight: 500;
  padding: 5px;
  position: relative;
  bottom: 16.5em;
  left: 8.2em;
  border-radius: 0.2em;
  z-index: 0;
}
article figure a{
  text-decoration: none;
  color: black;
}
#section-main article h5{
font-family:'Roboto';
font-weight: 800;
font-size: 1.1em;
}
#section-main article figure figcaption p{
font-family:'Roboto';
font-size:1.2em;
font-size: 1em;
font-weight: 100;
padding-top: 5px;
}

#section-main article figure figcaption
{
padding:10px;
}
footer{
background-color: #363636;
padding:20px 0px 40px 0px;
position: relative;
bottom: 35px;
z-index: 0;
}
footer ul{
list-style: none;
}
footer nav ul h1{
color: white;
font-family: 'Shrikhand';
font-size: 1em;
font-weight: 100;
padding-bottom: 10px;
}
footer .fa-utensils, footer .fa-hands-helping{
color:white;
font-size: 0.8em;
}
footer li a{
text-decoration: none;
color: white;
padding-left: 10px;
font-family: 'Roboto';
font-weight: 600;
font-size: 1em;
}
footer li .contact, footer li .mention{
padding-left: 0px;
font-family:'Roboto';
font-weight: 600;
font-size: 0.8em;
}
.header-menu img{
width:100%;
}
.main-menu h1{
float: left;
font-size: 1.4em;
font-family: 'Shrikhand';
}
.main-menu{
border-radius: 2.5em 2.5em 0em 0em;
padding-bottom: 40px;
padding-top: 25px;
position: relative;
bottom: 2.3em;
background-color: #f4f4f4;
}
h2{
padding-left: 20px;
font-family: 'Roboto';
font-weight: lighter;
font-size: 1em;
text-transform: uppercase;

}
.description .content h3{
  font-size: 1em;
}
.description .content p{
  font-size: 0.85em;
    font-weight: lighter;
}
.price strong {
  font-size: 0.9em;
}
.demitrait_dessous{
  width: 16%;
  margin: 0px 20px 0px 20px;
  padding-bottom: 15px;
}
.demitrait_dessous hr{
  background: #99E2D0;
    height: 0.1em;
    border: 0px;
    width: 75%;
    margin: 0;
}
.full{
color:#9356DC;
}
.full:hover{
visibility: hidden;
}
.aside_title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty{
  display: flex;
  position: relative;
  justify-content: flex-end;
  bottom: 2.8em;
  visibility: hidden;
}
.empty:hover{
visibility:visible;
color:#9356DC;
}
.loader{
  width: 100%;
  height: 100%;
  position:fixed;
background:#9356Dc;
opacity: 0.5;
display: flex;
justify-content: center;
align-items: center;
animation:spin 3s forwards ;
z-index: 0;
}
.spin{
  width:200px;
  height:200px;
  position: absolute;
  top: 0px;
  bottom:0px;
  left:0px;
  right:0px;
  margin: auto ;
border:10px solid #ccc;
border-radius:100%;
z-index: 999;
text-indent: -9999em;
border-top:10px solid #99E2D0;
border-bottom:10px solid #99E2D0;
animation:spin 5s ease-in-out forwards;
}
@keyframes spin{
0%{
  transform:rotate(0deg);
  z-index: 0;
}
99.5%{
  transform:rotate(360deg);
  opacity:1;
  z-index: 2;
}
100%{
  transform:rotate(360deg);
  opacity:0;
  z-index: -1;
}
}
@-webkit-keyframes spin{
0%{
  -webkit-transform:rotate(0deg);
}
100%{
  -webkit-transform:rotate(360deg)
}
}
.entrees .description {
  animation-duration: 3s;
  animation-name: defilement;
}
@keyframes defilement{
  from{
    margin-top:100%;
  }
  75%{
    margin-top: 75%;
  }
  50%{
    margin-top:50%;
  }
  to{
    margin-top: 0%;
  }
}
.plats .description {
  animation-duration: 4s;
  animation-name: defilement;
}
@keyframes defilement{
  from{
    margin-top:300%;
    width:300%;
  }
  75%{
    margin-top: 200%;
    width:200%;
  }
  50%{
    margin-top:100%;
    width:100%;
  }
  to{
    margin-top: 0%;
    width:100%;
  }
}
.desserts .description {
  animation-duration: 5s;
  animation-name: defilement;
}
@keyframes defilement{
  from{
    margin-top:300%;
    width:300%;
  }
  75%{
    margin-top: 200%;
    width:200%;
  }
  50%{
    margin-top:100%;
    width:100%;
  }
  to{
    margin-top: 0%;
    width:100%;
  }
}
.button a{
  color: white;
  text-decoration: none;
}
.aside_title .heart-regular{
  margin-right:0px;
}
.heart-regular{
  width:25px;
  margin-right: 1px;
  padding:0.8px;
}
.heart-solid{
  width: 25px;
  position: relative;
  left: -29px;
  opacity: 0;
}
.heart-solid:hover{
  width:25px;
  opacity:1;
  animation: scale 300ms ease-in-out 150ms;
}

  @keyframes scale {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.5);
    }
    100%{
      transform: scale(1.5);
    }
  }
figcaption .bloc{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: baseline;
}
figcaption .bloc p{
  width:100%;
}
.fa-check-circle{
  font-size: 20px;
}
.description:hover .fa-check-circle{
  font-size: 20px;
  animation:rotation 3s ease-in forwards;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
.description {
  background-color: white;
  border: 1px solid #ccc;
  max-width: 90%;
  height: 60px;
  border-radius: 10px;
  box-shadow: #ccc 4px 4px 3px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 15px;
}

.content,
.description .content h3,
.description .content p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px 5px;
}

.content {
  width: 80%;
}

.price {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.container_ok {
  margin-right: -60px;
  width: 60px;
  transition-duration: .5s;
}

.description:hover .container_ok {
  margin-right: 0px;
}

.slide_in {
  width: 65px;
  height: 65px;
  border-radius: 0px 10px 10px 0px;
  color: white;
  border: 0px solid;
  background: #99E2D0;
}
section h2{
  padding-top: 20px;
}
.entete{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.return{
  height:15px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px
}
.bloc .heart-solid{
  width: 25px;
  position: relative;
  left: -26px;
}
.img-bandeau{
  height: 210px;
    object-fit: cover;
}


@media screen and (min-width:768px) and (max-width:989px)
{
  .container{
    margin:0 auto;
    z-index: 0;
  }
  #logo{
    width:30%;
  }
  .entete a{
    padding-right: 25%;
  }
  .search p{
    font-size: 1em;
    width:30%;
  }
  .loader{
    width:100%;
    height:100%;
    z-index: -2;
  }
  #section-main article .resto{
    object-fit: cover;
    height:320px;
  }
  #section-main article{
    margin-top: 2em;
    height:400px;
  }
  .new{
    bottom: 26em;
    left: 20em;
    font-weight: 800;
    width:15%;
    font-size: 0.9em;
  }
  footer nav ul h1{
    font-size: 1.5em;
  }
  footer .fa-utensils, footer .fa-hands-helping,footer li .contact, footer li .mention
  {
    font-size: 0.9em;
  }
  #localisation .localisation{
    font-size: 1em;
  }
.main-menu h1{
  margin-left: 15px;
}
.main-menu .article_menu{
  margin-bottom: 15px;
}
.demitrait_dessous hr{
  width: 30%;
    margin: 0;
}
.description{
  max-width: 95%;
}
.img-bandeau{
  max-height: 480px;
  width: 100%;
  object-position: center 20%;
  object-fit: cover;
}
.price{
  padding-left: 110px;
}
.search .button, .main-menu .button{
  width:35%;
}
.coeur{
  padding-left: 50%;
}
.return{
  margin-right: 0px;
}
}


 @media screen and (min-width:990px) and (max-width:1025px)
{
  .container{
    margin:0 auto;
    background-color: #f4f4f4;
    z-index: 0;
  }
  .loader{
    width:100%;
    height:100%;
    z-index: -2;
  }
  #logo{
    width:15%;
    margin: 20px 0px 12px 0px;
  }
  #localisation .localisation{
    font-size: 1.1em;
    font-style: normal;
    width: 160px;
  }
  .section-header h2{
    width: 100%;
    font-size: 1.6em;
  }
  .section-header h3{
    font-size: 1.2em;
  }
  .search p{
    font-size: 1em;
  }
  .search p, .main-menu .button{
    width:25%;
  }
  #container-etape ol{
    display:flex;
  }
  .contain-art{
    display: flex;
    width: 98%;
  }
  #section-main article{
    margin:20px;
  }
  #section-main{
    padding-top:0px;
  }
  .new{
    bottom: 14.5em;
    left: 4.5em;
    font-size: 0.9em;
    width:33%;
  }
  footer ul{
    display:flex;
  }
  footer nav ul h1{
    font-size: 1.5em;
    position: relative;
    bottom: 1em;
  }
  footer .fa-utensils, footer .fa-hands-helping{
    font-size: 1em;
  }
  footer li .contact, footer li .mention{
    font-size: 1em;
  }
  footer nav ul li{
    margin-top: 2em;
    margin-left: 1em;
  }
  .main-menu ul{
    display:flex;
    width:100%;
  }
  .main-menu ul li{
    margin:20px;
    height:115px;
  }
  .main-menu{
    border-radius: 0em 0em 0em 0em;
    width:90%;
    box-shadow: #ccc 1px 1px 4px;
}
.main-menu h1{
  margin-left: 15px;
  margin-top: 25px;
  font-size: 25px;
}
.demitrait_dessous hr{
  width: 45%;
    margin: 0px;
}
.main-menu h2 {
  margin-top: 15px;
}
  
  .description:hover .container_ok {
    margin-right: 0px;
  }
  .description{
    max-width: 98%;
  }
  .price{
    padding-left:0px;
  }
  .search .button, .main-menu .button{
    width:25%;
    margin-top: 50px;
  }
  .img-bandeau{
    max-height: 380px;
    width: 100%;
    object-position: center 20%;
    object-fit: cover;
  }
  .recette{
    display:flex;
    width:100%;
  }
  .main-menu section{
    width:30%;
  }
  .content:hover, .description .content h3:hover, .description .content p:hover{
    width:145px;
  }
  .coeur{
    padding-left: 60%;
  }
  .heart-solid{
    left: -29px;
  }
  .entete{
    position: relative;
    right: 180px;
  }
  .entete a{
    padding-right: 10%;
  }
  .entete #logo{
    width: 100px;
  }
}
  @media screen and (min-width:1025px) 
  {
    .container{
      margin: auto;
      z-index: 0;
    }
    .loader{
      z-index: -2;
    }
    #logo{
      width: 15%;
      margin:20px 55px 8px 0px;
    }
    #localisation{
      padding: 30px 0px;
    }
    .new{
      width:30%;
      left:5.4em;
    }
    .fa-map-marker{
      font-size: 20px;
    }
    #localisation .localisation{
      border: 0px;
      text-align: center;
      font-weight: 700;
      font-size: 1.1em;
      font-style: normal;
      width: 300px;
    }
    .section-header h2{
      width: 100%;
      font-size: 1.7em;
    }
    .section-header h3{
      font-size: 1.3em;
    }
    .search p{ 
    font-size: 1.1em;
    }
    h4{
      font: 1.3em;
    }
    #container-etape ol{
      display: flex;
    inline-size: -webkit-fill-available;
    width: 90%;
    }
    #container-etape li i{
      color: #888282;
    float: left;
    font-size: 1.4em;
    }
    #container-etape li a{
      font-size: 1.1em;
    }
    .contain-art{
      display: flex;
    width: 95%;
    margin: 50px;
    }
    #section-main article{
      width: 100%;
    margin: 20px;
    }
    footer ul{
      display:flex;
    }
    footer li{
      margin-top: 20px;
      font-size: 20px;;
    }
    footer nav ul h1{
      margin-bottom:45px;
    }

    .main-menu h1{
      font-size: 2em;
    }
    .main-menu h2{
      font-size: 1.7em;
    }
    .demitrait_dessous hr{
      width:45%;
    }
    .button{
      width: 40%;
      font-size: 1.2em;
      margin-top: 80px;
    }
    .price{
      padding-left:0px;
    }
    footer nav ul li{
      padding-top: 30px;
    }
    footer nav ul li .ohmyfood{
      position: relative;
      bottom: 30px;
    }
    footer li a{
      text-decoration: none;
    color: white;
    padding-left: 10px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2em;
    }
    .img-bandeau{
    max-height:330px;
    width: 100%;
    object-position: center 20%;
    object-fit: cover;
    }
    .recette{
      display:flex;
      width:100%;
    }
    .main-menu section{
      width:40%;
    }
    .main-menu{
      border-radius: 0em 0em 0em 0em;
    width: 90%;
    box-shadow: #ccc 1px 1px 4px;
    }
   .coeur{
    padding-left: 70%;
   }
   .heart-solid{
    right: 0px;
   }
  .entete #logo{
    width: 140px;
  }
  .entete{
    position: relative;
    right: 240px;
  }
  .bloc .heart-solid{
    width: 25px;
    position: relative;
    left: -26px;
    top: 0px;
  }
  }

  



 



  